.todo_container_marketing {
  /* border: 1px solid black; */
  width: 400px;
  margin-left: 80px;
}

.doing_container_marketing {
  /* border: 1px solid black; */
  width: 400px;
}

.done_container_marketing {
  /* border: 1px solid black; */
  width: 400px;
}
