.navbar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
}

.navbar_elements {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
