.navbar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
}
nav {
  font-weight: 600;
}

nav p {
  color: #979797;
}

.navbar_elements {
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* align-items: center; */
}

.navbar_links {
  text-decoration: none;
  padding: 4px 0 4px 18px;
  color: #979797;
}

.navbar_links:hover {
  text-decoration: none;
  background-color: #8471f2;
  padding: 12px 0 12px 18px;
  color: white;
  width: 90%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.button_nav_container {
  display: flex;
  justify-content: center;
}

.navbar_button {
  border-radius: 25px;
  width: 80%;
  padding: 10px 0 10px;
  background-color: #8471f2;
  color: white;
  font-size: 16px;
  border: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.navbar_button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
