.todo_container_platformLaunch {
  border: 1px solid black;
  width: 400px;
}

.doing_container_platformLaunch {
  border: 1px solid black;
  width: 400px;
}

.done_container_platformLaunch {
  border: 1px solid black;
  width: 400px;
}
