.now_container_roadmap {
  /* border: 1px solid black; */
  width: 400px;
  margin-left: 80px;
}

.next_container_roadmap {
  /* border: 1px solid black; */
  width: 400px;
}

.later_container_roadmap {
  /* border: 1px solid black; */
  width: 400px;
}
