@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

header {
  position: absolute;
  border: 1px solid black;
  width: fit-content;
  left: 20%;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  flex: 1;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  text-align: center;
  padding: 0 7px 0 7px;
}
